body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font-family;
  font-weight: normal;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;

  strong {
    font-family: 'bebas-bold';
    color: $color-solful-red;
    font-size: larger;
  }
}

h1 {
  font-family: 'bebas-regular';
  letter-spacing: 0.045em;
  font-size: 1.8em;
}
h2 {
  font-family: 'bebas-regular';
  letter-spacing: 0.045em;
  font-size: 1.6em;
}
ul.mb_data h1 {
  color: darken($color-solful-red, 20%);
  font-family: $base-font-family;

  font-size: 1em;
  letter-spacing: normal;
  margin-bottom: 0.25em;
}
ul.mb_data h2 {
  font-size: 1.5em;
  margin-bottom: 0;
}
ul.mb_data h3 {
  font-weight: normal;
  font-size: 1em;
  margin-bottom: 0;
}
ul.mb_trainers > li > h1,
a.schedButton,
ul.mb_data div.trainerName {
  font-family: 'bebas-regular';
  letter-spacing: 0.045em;
  font-size: 1.6em;
}
nav.site-nav a {
  color: #000;
}

div.mastheadLogin a.logIn,
div.mastheadLogin a.mbAccount {
  font-family: 'bebas-bold';
  letter-spacing: 0.07em;
}

a.sign_up_now h1 {
  font-family: 'bebas-book';
  padding-bottom: 0;
  margin-bottom: 0;

}
.image-gradient-dynamic h1 {
  font-family: 'bebas-bold';
}
p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  .no-touchevents &:hover {
    color: lighten($action-color, 25%);
    text-decoration: underline;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
