div.site {
  padding-top: $nav-height-mobile;
}

/* ***********************
  basics
*********************** */
header.site_header {
  position: relative;
}
header.site_header span.stripe {
  height: $nav-height-mobile;
  position: fixed;
  width: 100%;
  background-color: #333;
  background-image: linear-gradient( #424242 0px, #000 );
  z-index: 1500; // always on top !!!
  transition: margin 0.5s ease-in-out;
}
header.site_header span.main-nav {
  position: absolute;
  left:0;
  top: $nav-height-mobile;
}
header.site_header {
  li,
  li a {
    display: block;
    float: left;
    clear: left;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
a.site-title span.big-logo {
  display: inline-block;
  text-align: center;
  vertical-align: bottom;

  float: left;
  clear: none;

  width: $main_logo_width-mobile;
  height: $nav-height-mobile;

  background: url('../images/solful-fitness-logo.svg') no-repeat;
  background-position: 30% pem(2);
  background-size: 69%;

  .no-svg & {
    background: url('../images/solful-fitness-logo.png') no-repeat;
  }
}
a.site-title h1 {
  @include visuallyhidden;
}
span.mobile_shader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1; // one below span.shade
  width: 100%;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;
}

/* **********************
  mobile menu OFF:
********************** */
nav.site-nav {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 0;

  overflow: hidden;
  z-index: 1000;
  // background: #FFF;
  // border-bottom: 1px #000 solid;
  transition: height 0.25s ease-in-out;
  li a {
    padding: $main_gutter;
  }
}
nav.site-nav > span {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

}
nav.site-nav span.mn,
nav.site-nav span.sn {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
nav.site-nav span.mn {
  padding-top: $nav-height-mobile;
  margin-top: -$nav-height-mobile;
  background-color: #FFF;
}
nav.site-nav span.sn {
  padding-bottom: $nav-height-mobile;
  background-color: transparent;
}
ul.mainNav,
ul.subNav {
  display: block;
  float: left;
  clear: left;
  width: 100%;
}
ul.mainNav li a,
ul.subNav li a {
  background-color: #FFF;
}
ul.subNav li a {
  background: #CCC;
}

nav.site-nav a {
  color: $base-font-color;
  .no-touchevents &:hover {
    text-decoration: none;
    color: #000;
    background: #F4F4F4;
  }
}
// masthead login button below this line *************************
div.mastheadLogin {
  position: absolute;
  top: 0;
  right: 0;
  color: #FFF;
  z-index: 10000;
  height: $nav-height-mobile;
  // padding: ($gutter * 1.3) ($main-gutter * 0.5) 0;
  color: $color-solful-red;

  &:hover {
    cursor: pointer;
  }
}

div.mastheadLogin a.logIn {
  display: block;
  background-color: transparent;
  padding: 0 ($main_gutter * 0.33);

  text-align: center;

  font-size: 22px;
  line-height: $nav-height-mobile;
  transition: color 0.25s;
  color: darken($color-solful-red, 10%);

  .no-touchevents &:hover {
    color: $color-solful-red;
    background: transparent;
    text-decoration: none;
  }
}

div.mastheadLogin a.mbAccount {
  padding: 0.5em;
  display: block;
  // color: #000;
  font-size: 22px;
  height: $nav-height-mobile;

  & > span {
    display: block;
    width: 40px;
    height: 40px;

    text-align: center;
    border: 3px darken($color-solful-red, 15%) solid;
    @include all-corners(50%);
  }
}

/* **********************
  mobile menu ON:
********************** */
body.main_nav_on nav.site-nav {
  transition: height 0.5s ease-in-out;
}
body.main_nav_on body > div.site {
  position: fixed;
}
body.main_nav_on span.mobile_shader {
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.4s ease-in-out;
}

/* **********************
  masthead HIDDEN:
********************** */
body.hiddenMasthead header.site_header span.stripe {
  margin-top: -$nav-height-mobile;
}
