.site-main {
  padding-right: $gutter; // I DON'T KNOW WHY I HAVE TO DO THIS !!!!
  @include span-columns(8);
}
.widget-area {
  @include span-columns(4 of 12);
  @include omega();
}
.site-footer {
  padding-top: $gutter;
  padding-bottom: pem(100);

}
.site-footer > div,
.site-footer > a {
  @include span-columns(4 of 12);
}

.site-footer > a {
  float: right;
}


// side bar
aside.flower{
  display: block;
}

aside.flower img {
  width:100%;
  background: url('../images/solful-with-sun.png') no-repeat center;
  background-size: contain;
}
