html,
body {
  // this color fills out the footer
  // background: darken($color-solful-red, 10%);
  background: darken( #333, 0%);
  background: #000;
}

body > div.site,
body > div.site > .main-bg {
  // body of the page.
  // (everything between the header and the footer)
  display: block;
  float: left;
  clear: both;
  width: 100%;
}

body > div.site > .main-bg {
  background: #FFF;
}
.outer {
  @include outer-container;
}
.hid {
  @include hidden;
}

body > div.site > .main-bg > div.content,
.site-footer {
  padding-left: $main-gutter;
  padding-right: $main-gutter;
  display: block;
  clear: both;
  @include outer-container;

}
body > div.site > .main-bg > div.content {
  // padding-top: pem(30);
}

// .full-width,
.site-main,
.full-width,
.widget-area {
  @include span-columns(12);
}

.site-main,
.main-content,
.widget-area {
  padding-top: $main-gutter;
  padding-bottom: $gutter;
}
.site-footer {
  padding-top: $main-gutter;
  padding-bottom: pem(70);
  color: rgba(255, 255, 255, 0.7);
}

.site-footer > div,
.site-footer > a {
  padding-bottom: 1em;
  @include span-columns(12 of 12);
}

.site-footer > a {
  max-width: pem(120);
}


div.entry-content {
  width: 100% !important; // override for calendar plugin.
}
