.site-main {
  @include span-columns(8);
  padding-right: $gutter;
}

.site-main-centered {
  @include shift(2);
}

.widget-area {
  @include span-columns(4 of 12);
  @include omega;
}

.site-footer {
  padding-bottom: pem(100);
  padding-top: $gutter;
}

.site-footer > div,
.site-footer > a {
  @include span-columns(4 of 12);
}

.site-footer > a {
  float: right;
}
