html,
body {
  // this color fills out the footer
  // background: darken($color-solful-red, 10%);
  background: darken( #333, 0%);
  background: #000;
}

body > div.site,
body > div.site > .main-bg {
  // body of the page.
  // (everything between the header and the footer)
  display: block;
  float: left;
  clear: both;
  width: 100%;
}

.site > .main-bg {
  background: $white;
}

.outer {
  @include outer-container;
}

.hid {
  @include hidden;
}

.site > .main-bg > .content,
.site-footer {
  @include outer-container;
  clear: both;
  display: block;
  padding-left: $main-gutter;
  padding-right: $main-gutter;
}

.entry-content img {
  max-width: 100%;
}
span.block,
.entry-content h1,
.entry-content h2 {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}

span.block {
  padding-bottom: 1em;
}

img.alignright {
  float: right;
}
// .full-width,
.site-main,
.full-width,
.widget-area,
.home-sticky {
  @include span-columns(12);
}

.site-main,
.main-content,
.widget-area {
  padding-top: $main-gutter;
  padding-bottom: $gutter;
}
.home-sticky {
  margin-bottom: $gutter;
}
.site-footer {
  padding-top: $main-gutter;
  padding-bottom: pem(70);
  color: rgba(255, 255, 255, 0.7);
}

.site-footer > div,
.site-footer > a {
  padding-bottom: 1em;
  @include span-columns(12 of 12);
}

.site-footer > a {
  max-width: pem(120);
}


div.entry-content {
  width: 100% !important; // override for calendar plugin.
}
