
.map_canvas {
  position: relative;
  height: pem(200);
  width: 100%;
  display: block;
  float: left;
  clear:both;
}

.map_canvas img {
  max-width: none;
// to prevent UI control bug
}

.map_canvas .content {
  padding: 0 0.5em 1em 0.5em;
}

.map_canvas .firstHeading {
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  margin: 0;
}

.map_canvas #bodyContent p {
  font-size: 10em;
  margin: 0;
}
