

body > div.site > .main-bg > div.content {
  // the main div that holds every page (?)


}

div.feat-img-banner {
  display: block;
  // float: left;
  clear: both;
  width: 100%;
  background-color: #F4F4F4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}



div.feat-img {

  line-height: 0;
  position: relative;
  width: 100%;

  img {
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
  }
}
