

body > div.site > .main-bg > div.content {
  // the main div that holds every page (?)


}

div.feat-img-banner {
  display: block;
  // float: left;
  clear: both;
  width: 100%;
  background-color: #F4F4F4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}



div.feat-img {

  line-height: 0;
  position: relative;
  width: 100%;

  img {
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
  }
}

// side bar
aside.flower{
  display: none;
}

a.package-link {
  display: block;
  width: 100%;
  background: url(../images/solful-banner-bg-20.svg) no-repeat right top;
  background-size: pem(175);
  background-color: darken($color-solful-red, 15%);
  color: #FFF;

  padding: 1.5em 0.5em;

  .no-touchevents &:hover {
    background-color: darken($color-solful-red, 10%);
    color: #FFF;
    text-decoration: none;
  }
}
