
.feat-img-banner {
  background-color: $gray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  clear: both;
  display: block;
  width: 100%;

}

.entry-content {
  p {
    max-width: pem(600);
  }
}

.feat-img {
  line-height: 0;
  position: relative;
  width: 100%;

  img {
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
  }
}

// side bar
.flower {
  display: none;
}

.package-link {
  color: $white;
  display: table-cell;
  float: left;
  height: 100%;
  min-height: 100%;
  padding: 1em .5em .5em;
  text-align: center;
  width: 100%;

  .no-touchevents &:hover {
    color: lighten($color-solful-red, 30%);;
    text-decoration: none;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-family: 'bebas-bold';
    font-size: 2.5em;
  }
}

.class-table {
  border-collapse: collapse;
  display: table;
  margin: 0;
  margin-bottom: ($gutter * .25);
  width: 100%;

  tr {
    border: 0;
    display: table-row;
    position: relative;
  }

  td {
    border: 0;
    clear: none;
    display: table-cell;
    float: none;
    height: 100%;
    padding: 0;
    position: relative;
    vertical-align: top;

    &:not(.spacer) {
      background: url('../images/solful-banner-bg-20.svg') no-repeat right top;
      background-color: darken($color-solful-red, 15%);
      background-size: pem(175);

      .no-touchevents &:hover {
        background-color: darken($color-solful-red, 10%);
        color: $white;
        text-decoration: none;

      }
    }
  }

  .spacer {
    height: auto;
    width: ($gutter * .25);
  }
}
