.image-gradient-dynamic {
  .copy {
    h1 {
      font-size: 4em;
    }
  }
}

// side bar
.flower {
  display: block;

  img {
    background: url('../images/solful-with-sun.svg') no-repeat center;
    background-size: contain;
    width: 100%;

    .no-svg & {
      background: url('../images/solful-with-sun.png') no-repeat center;
    }
  }
}
