.photo-grid {
  column-count: 5;
  column-gap: 0;
  line-height: 0; // Prevent vertical gaps
}

.grid-photo {
  display: block;
  overflow: hidden;
  position: relative;

  a {
    background-color: $color-black-0-opacity;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background .25s ease;
    width: 100%;
  }

  img {
    background-position: center;
    background-size: cover;
    height: auto;
    width: 100%;
  }

  .background {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: .25s ease;
    width: 100%;
  }

  .no-touchevents &:hover {
    a {
      background-color: $color-black-25-opacity;
    }

    .background {
      height: 110%;
      top: -5%;
      width: 110%;

    }
  }
}

.img-viewer {
  // background: rgba(0, 0, 0, 0.2);
  // the pop-over slideshow:
  // height: 100%;
  // left: 0;
  // // padding: ($gutter * 1.5) ($gutter * .5) ($gutter * .5);
  // overflow: hidden;
  // position: absolute;
  // top: 0;
  // width: 100%;

  img {
    // display: none;

    // height: auto;
    // max-height: 100%;
    // max-width: 100%;
  }

  // span {
  //
  //   display: none;
  //
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   height: auto;
  //   left: 2.5%;
  //   position: absolute;
  //   top: 2.5%;
  //   width: 95%;
  // }
}


@media (max-width: 1200px) {
  .photo-grid {
    column-count: 4;
  }
}
@media (max-width: 1000px) {
  .photo-grid {
    column-count: 3;
  }
}
@media (max-width: 800px) {
  .photo-grid {
    // column-count: 2;
  }
}
@media (max-width: 400px) {
  .photo-grid {
    // column-count: 1;
  }
}
