a.sign_up_now {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  position: relative;
  background: url(../images/solful-banner-bg-20.svg) no-repeat;
  background-size: pem(175);
  background-position: left top;

  background-color: darken($color-solful-red, 15%);
  color: #FFF;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  height: 0;

  .classes {
    display: block;
    width: 100%;
    padding: $gutter;
    text-align: left;
  }
}

span.closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  padding: ($gutter * 1.4) $gutter;
  min-width: 5em;
  min-height: 10em;

  span.top,
  span.bottom {
    display: block;
    float: left;
    width: 100%;
    height: 2px;
    background: #FFF;
    transition: background 0.25s ease-in-out;
  }

  span.top {
    transform: rotateZ( 45deg );

  }
  span.bottom {
    margin-top: -2px;
    transform: rotateZ( -45deg );

  }
  span.closeBtnTrigger {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 10em;
  }
}
span.closeBtn:hover {
  // background: #FCF;
  span.top,
  span.bottom {
    background: #000;
  }
}
