// mindbody-universal
ul.mb_data span.loader {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  text-align: center;
  padding: $gutter 0;
  // background: #F4F4F4;

}

ul.classes,
ul.classes li,
ul.classes hgroup,
ul.classes div.signUp,
ul.classes li div.workout-desc,
ul.classes li div.classNFO,
ul.classes li div.trainerNFO,

ul.mb_data li,
ul.classes a.schedButton,
ul.mb_data div.trainerNamem

ul.mb_trainers,
ul.mb_trainers li {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
ul.classes {
  padding-bottom: 1em;
  li {
    background: #F4F4F4;
    margin-bottom: 0.5em;
    padding: 0.25em 0.4em
  }
}


ul.classes hgroup {
  width: 60%;
  padding-right: 1em;

  &:hover {
    cursor: pointer;
  }
}
ul.classes div.signUp {
  width: 40%;
  text-align: center;
  clear: none;
}

.no-touchevents ul.classes > li > hgroup.available {
  transition: color 0.25s ease-in-out;
}
.no-touchevents ul.classes > li.showInfo > hgroup.available,
.no-touchevents ul.classes > li > hgroup.available:hover {
  color: darken($color-solful-red, 20%);
  cursor: pointer;
}

ul.classes li.missed hgroup,
ul.classes li.canceled hgroup {
  width: 100%;
}
ul.classes li.missed hgroup,
ul.classes li.completed hgroup,
ul.classes li.canceled hgroup,
li.completed a.cancel-button,
.no-touchevents li.completed a.cancel-button:hover {
  color: lighten($base-font-color, 40%);
  background: transparent;
  text-decoration: none;
}

li.completed a.cancel-button {
  cursor: text;
}
ul.classes li.canceled hgroup h2 {
  text-decoration: line-through;
}

ul.classes li div.workout-desc {
  padding: ($main_gutter * 0.25) 0 0;
  margin-bottom: 0;
}
ul.classes li div.desc,
ul.mb_trainers div.bio div.desc {
  max-width: pem(545);
}
ul.classes li div.bio {
  padding-bottom: 0.25em;
  border-bottom: 0.25em #FFF dotted;
  margin-bottom: 1em;
}
ul.classes li div.workout-desc img,
ul.mb_trainers div.bio img {
  float: right;
  margin-left: 0.75em;
  margin-bottom: 0.5em;
  max-width: 45%;
}

// toggle Info:
ul.classes li div.classNFO,
ul.classes li div.trainerNFO {
  height: 0;
  overflow: hidden;
}
ul.classes li.showInfo div.classNFO {
  height: auto;
}
ul.classes li.showTrainer div.trainerNFO {
  height: auto;
}

// buttons
a.schedButton {
  background: lighten($color-solful-red, 0%);
  padding: 0.15em 0;
  text-align: center;
  color: #FFF;
  transition: background 0.25s ease-in-out;

  .no-touchevents &:hover {
    color: #FFF;
    background: darken($color-solful-red, 10%);
  }
}
a.schedButton i {
  // display: block;
  padding-right: 0.3em;
}

div.content a.schedButton {
  display: block;
  width: 100%;
}
div.content a.signin-button,
div.content a.cancel-class-button {
  margin-bottom: 0.5em;
}
a.cancel-button,
a.exitPopOver {
  background: transparent;
  color: $base-font-color;
  .no-touchevents &:hover {
    color: $base-font-color;
    background: darken(#F4F4F4, 15%);
  }
}

li.completed a.cancel-button {

  .no-touchevents &:hover {
  }
}
div.content a.cancel-button,
div.content a.exitPopOver {
  background: darken(#F4F4F4, 15%);
}

ul.mb_data div.trainerName {
  background: transparent;
  .no-touchevents &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

li.mbCalendarLink {

  background-color: darken($color-solful-red, 15%);
  background-image: url(../images/solful-banner-bg-20.svg);
  background-size: pem(175);
  background-repeat: no-repeat;
  background-position: right top;

  color: #FFF;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
  padding: 1em;
  @include span-columns(12 of 12);

  em {
    font-style: normal;
    text-decoration: underline;
  }

  &:hover {
    background-color: darken($color-solful-red, 25%);
  }
}
