div.MB-login {
  height: $nav-height-medium;
  padding: ($gutter * 0.75) ($main-gutter * 1) 0 ($main-gutter * 0.5);
}
div.loginForm > div.non-mobile-shader {
  padding-top: pem(75);
}

// 
// div.popOverMB div.content {
//   margin: pem(45) auto;
// }
