
div.loginForm div.login,
div.loginForm div.login span.error p,
div.loginForm div.login span.loading {
  @include all-corners(pem(5));
}
// the login form pop-over:
div.loginForm{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  overflow: visible;
  z-index:1501; // yeah, these numbers are getting outta hand. !@!

}
div.loginForm > div.non-mobile-shader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: pem(5000);
  // background-color: rgba(0,0,0,0.7);
  background-color: rgba(255,255,255,0.95);
  padding: pem(20) $main_gutter 0;

  opacity: 1;
  transition: opacity 0.125s ease-in;
}
div.loginForm > div.non-mobile-shader-fadeOut {
  opacity: 0;
  // background-color: rgba()
}

div.loginForm div.login {
  display: block;
  position: relative;

  margin: 0 auto;
  // background: #FFF;
  max-width: pem(500);
  padding: $main-gutter;
}

div.loginForm div.login span.error p,
div.loginForm div.login form {
  display:block;
}
div.loginForm div.login span.error  p {
  padding: pem(5);
  background: lighten($action-color, 60%);
  border: 2px $action-color solid;
  transition: background 0.75s ease-out;

}
div.loginForm div.login span.error  p,
div.loginForm div.login span.error  p a,
div.loginForm div.login span.error  p a:link,
div.loginForm div.login span.error  p a:visited,
div.loginForm div.login span.error  p a:active {
  color: darken($action-color, 10%);
}
div.loginForm div.login span.error  p a {
  text-decoration: underline;
}
div.loginForm div.login span.flash p {
  background: lighten($action-color, 0%);
  transition: background 0s ease-out;
}

div.loginForm input.mb-password {
  // make the letters look like bullets
  -webkit-text-security: disc;
  -moz-text-security: disc;
  text-security: disc;
}
div.loginForm input[type="password"] {
  -webkit-text-security: disc !important;
}

div.loginForm input.mb-login-button {
  // display: block;
  // margin: 0 auto;
}
div.loginForm div.login span.fields > h3 {
  // keep text from hitting the close button:
  padding-right: 1.5em;
}
div.loginForm div.login span.loading {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255, 0.8);
  text-align: center;
  padding-top: 25%;
}
div.loginForm div.login i.closeForm {
  position: absolute;
  z-index: 99;
  top: 0.25em;
  right: 0.25em;
  background: #FFF;
  padding: 0.25em;
  color: #999;
  // border: 3px #999 solid;
  @include all-corners(100%);
  .no-touchevents &:hover {
    cursor: pointer;
  }
}
div.loginForm div.login div.new-user {
  padding-top: 1em;
  border-top: 1px #CCC solid;
  margin-top: 1.5em;
  a h3 {
    color: $base-font-color;
  }
  .no-touchevents & a:hover h3 {
    color: $color-solful-red;
  }
  a:hover {
    text-decoration: none;
  }
}
div.loginForm div.login img {
  display: block;
  margin: 0 auto;
  max-width: pem(200);
}
