// mindbody-universal
ul.mb_data span.loader {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  text-align: center;
  padding: $gutter 0;
  // background: #F4F4F4;

}

ul.classes,
ul.classes li,
ul.classes hgroup,
ul.classes div.signUp,
ul.classes li div.workout-desc,
ul.classes li div.classNFO,
ul.classes li div.trainerNFO,

ul.mb_data li,
ul.mb_data a.sign-in-button,
ul.mb_data div.trainerNamem

ul.mb_trainers,
ul.mb_trainers li {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
ul.classes {
  padding-bottom: 1em;
  li {
    background: #F4F4F4;
    margin-bottom: 0.5em;
    padding: 0.25em 0.4em
  }
}


ul.classes hgroup {
  width: 65%;
  padding-right: 1em;
}
ul.classes div.signUp {
  width: 35%;
  text-align: center;
  clear: none;
}

.no-touchevents ul.classes > li > hgroup.available {
  transition: color 0.25s ease-in-out;
}
.no-touchevents ul.classes > li.showInfo > hgroup.available,
.no-touchevents ul.classes > li > hgroup.available:hover {
  color: darken($color-solful-red, 20%);
  cursor: pointer;
}

ul.classes hgroup.unavailable {
  color: lighten($base-font-color, 40%);
}
ul.classes hgroup.canceled h2 {
  text-decoration: line-through;
}

ul.classes li div.workout-desc {
  padding: ($main_gutter * 0.25) 0 ($main_gutter * 0.5);
  margin-bottom: ($main_gutter * 0.5);
}
ul.classes li div.desc,
ul.mb_trainers div.bio div.desc {
  max-width: pem(545);
}

ul.mb_trainers div.bio div.desc {
  padding-bottom: 1.75em;
}
ul.classes li div.bio {
  border-bottom: 1px $base-font-color solid;
}
ul.classes li div.workout-desc img,
ul.mb_trainers div.bio img {
  float: right;
  margin-left: 0.75em;
  margin-bottom: 0.5em;
  max-width: 45%;
}

// toggle Info:
ul.classes li div.classNFO,
ul.classes li div.trainerNFO {
  height: 0;
  overflow: hidden;
}
ul.classes li.showInfo div.classNFO {
  height: auto;
}
ul.classes li.showTrainer div.trainerNFO {
  height: auto;
}

ul.classes li.enrolled {
  // background: #FCF;
}

// buttons
ul.mb_data a.sign-in-button {
  background: lighten($color-solful-red, 0%);
  padding: 0.15em 0;
  text-align: center;
  color: #FFF;
  transition: background 0.25s ease-in-out;

  .no-touchevents &:hover {
    background: darken($color-solful-red, 10%);
  }
}

ul.mb_data div.trainerName {
  background: transparent;
  // color: #FFF;
  // transition: background 0.25s ease-in-out;
  // text-decoration: underline;

  .no-touchevents &:hover {
    // background: lighten(#000, 70%);
    cursor: pointer;
    text-decoration: underline;
  }
}
